html, body, #map { height: 100%; margin: 0; padding: 0; }
#canvas { position: absolute; top:0; left:0; z-index:1000; pointer-events: none; }
.btn { position:absolute; top:10px; background:rgb(190, 188, 188); padding:8px 10px; border-radius:6px; border:1px solid #999; cursor:pointer; font-family:sans-serif; z-index:2000; }
#btnDraw { top: 40px; right: 20px; }
#btnClear { top: 100px; right: 20px; }
#btnSave { top: 160px; right: 20px; }
#btnLoadKML { top: 220px; right: 20px; }
#btnKMLConfig { top: 280px; right: 20px; }
#info { position:absolute; top:80px; left:20px; background:rgb(190, 190, 190); padding:10px 15px; border-radius:8px; font-family:Arial,sans-serif; font-size:16px; z-index:2000; box-shadow:0 2px 5px rgba(0,0,0,0.2);}
#kmlConfigPanel { display:none; position:absolute; top:315px; right:20px; background:white; padding:10px; border-radius:8px; z-index:3000; box-shadow:0 2px 5px rgba(0,0,0,0.3);}
